{% extends 'base/base.html' %}
{% block contenido %}
<div class="container">
  <h2>Eliminar Administrador</h2>
  <p>¿Eliminar a {{ user_obj.username }}?</p>
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a href="{% url 'socios:listar_admins' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}

{% block estilos_extra %}
<link rel="stylesheet" href="{% static 'css/admins/eliminar_admin.css' %}">
{% endblock %}

{% block scripts_extra %}
<script src="{% static 'js/admins/eliminar_admin.js' %}"></script>
{% endblock %}
